
body{
    margin: 0;
}

.header{
    background-color: rgb(50, 167, 145);
    display: flex;
    position: fixed;
    width: 100%;
    top: 0px;
    justify-content: space-between;
    align-items: center;
  
    
    
}

.trybewarts-header-logo{
    width: 10px;
    height: 22px;
}

.inputs{
    width: 25px;
    height: 4px;
    font-size: 4px;
    border: 1px solid blue;
    border-radius: 10px;
   
}

.labels{
    font-size: 8px;
    font-weight: bold;
 
}

.trybewarts-login{
    display: flex;
    align-items: center;
   
}

input:focus{
    
    outline: 0;
}

