body {
  margin: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  width: 100%;
  height: 4.6rem;
  justify-content: space-between;
  align-items: center;
}

.trybewarts-header-logo {
  display: flex;
  width: 50px;
  height: 50px;
  margin-left: 25px;
}

.inputs {
  width: 123px;
  height: 25px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px black solid;
  margin-left: 11px;
  margin-right: 13px;
}

.inputs:focus {
  border: 1px blue solid;
}

.labels {
  font-size: 30px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  padding-right: 25px;
}

input:focus {
  outline: 0;
}

#evaluation-form {
  width: 675px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

#materias {
  display: flex;
  flex-direction: row;
}

#familia {
  display: flex;
  flex-direction: column;
}

.fam {
  display: flex;
}

.famili-mat {
  display: flex;
  margin: 2px solid black;
}

main {
  display: flex;
  justify-content: space-evenly; /* space divide espaço igual entre elementos e margens */
}

#trybewarts-forms-logo {
  display: flex;
  height: 500px;
  margin-top: 50px;
}

.nomes {
  display: flex;
}

.casa {
  display: flex;
}

.avaliacao {
  display: flex;
}

.inputsForm {
  border-radius: 5px;
  border: 1px black solid;
}

.inputsForm:focus {
  border: 1px blue solid
}
#reset-btn {
  margin-top: 15px;
}

.labelNome {
 margin-right: 10px;
}

.labelSobrenome {
  margin-right: 7px;
  margin-left: 15px;
}

.labelEmail {
margin-right: 15px;
margin-top: 15px;
}

#input-email {
  margin-top: 15px;
  margin-right: 100px;
}

#house {
  margin-top: 17px;
  border-radius: 5px;
}

.concorda {
  display: flex;
  margin-bottom: 15px;
}

#label-infos {
  margin-left: 5px;
}

#label-family {
margin-top: 12px;
}

#label-content {
  margin-top: 9px;
}

.subjectTwo {
  margin-left: 8px;
}

.subjectTre {
margin-left: 8px;
}

.subjectFor {
  margin-left: 8px
}

.subjectFive {
  margin-left: 8px
}

.subjectSex {
  margin-left: 8px
}

#label-rate {
  margin-top: 9px;
}

#front {
margin-left: 5px;
}

#back {
margin-left: 9.5px;
}

#full{
margin-left: 5px;
}

#um {
  margin-right: 5px;
}

#dois {
  margin-right: 5px;
}

#tres {
  margin-right: 5px;
}

#quatro {
  margin-right: 5px;
}

#cinco {
  margin-right: 5px;
}

#seis {
  margin-right: 5px;
}

#sete {
  margin-right: 5px;
}

#oito {
  margin-right: 5px;
}

#nove {
  margin-right: 5px;
}

#dez {
  margin-right: 5px;
}

.textarea {
  margin-top: 8px;
}

#icone {
position:absolute;
margin-top: 17px;
margin-left: 61px;
}









