body {
  margin: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.trybewarts-header-logo {
  display: flex;
  width: 50px;
  height: 50px;
}

.inputs {
  width: 123px;
  height: 25px;
  font-size: 16px;
  border-radius: 10px;
}

.labels {
  font-size: 30px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  padding-right: 25px;
}

input:focus {
  outline: 0;
}

#evaluation-form {
  width: 675px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

#materias {
  display: flex;
  flex-direction: row;
}

#familia {
  display: flex;
  flex-direction: column;
}

.fam {
  display: flex;
}

.famili-mat {
  display: flex;
  margin: 2px solid black;
}

main {
  display: flex;
  justify-content: space-evenly; /* space divide espaço igual entre elementos e margens */
}

#trybewarts-forms-logo {
  display: flex;
  height: 500px;
  margin-top: 50px;
}

.nomes {
  display: flex;
}

.casa {
  display: flex;
}

.avaliacao {
  display: flex;
}

footer {
  text-align: center;
  margin-top: 50px;
}
